@font-face {
    font-family: 'Lato';
    src: url('lato-v24-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-v24-latin-700.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rokkitt';
    src: url('rokkitt-v36-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
